name: Build and Release MCPACK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # リポジトリをチェックアウト
      - name: Checkout code
        uses: actions/checkout@v4

      # 不要なファイルを除いてファイルをコピー
      - name: Clean up unnecessary files
        run: |
          mkdir -p build
          rsync -av --exclude='build' --exclude='.git/' --exclude='.github/' --exclude='.gitignore' --exclude='README.md' --exclude='package-lock.json' --exclude='package.json' --exclude='readme-en.md' --exclude='versions.json' ./ build/
          
      # MCPACKファイルを生成 (ZIP圧縮)
      - name: Create MCPACK
        run: |
          cd build
          zip -r ../NoteBlockPlus.mcpack ./*
          cd ..

      # GitHubリリースにアップロード
      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      # MCPACKファイルをリリースにアップロード
      - name: Upload MCPACK to Release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./NoteBlockPlus.mcpack
          asset_name: NoteBlockPlus.mcpack
          asset_content_type: application/zip
